*guiState*
core.*
*.ipynb_checkpoints
*.bdf
*.deps
*.rpt
*.guiLog
*.mdl
*.com
*.pyc
*.rec
*~
*.mdb
*.fil
*.stt
*.res
*.msg
*.sta
*.rpy*
*.dat
*.inp
*.ipm
*.log
*.sim
*.prt
*.odb
*.jnl
*.cae
*.odb_?
a.out