*.orig
*.aux
*.bbl
*.blg
*.dvi
*.out
*.SMAFocus
*.SMABulk
*.env
*.inc
*.so
*.docx
yld_2000_2d_test
hah_test
yld_test
*.DS_store
build
*.pdf
*.txt
fort.*
*.dSym/
*.o
*guiState*
core.*
*.ipynb_checkpoints
*.bdf
*.deps
*.rpt
*.guiLog
*.mdl
*.com
*.pyc
*.rec
*~
*.mdb
*.fil
*.stt
*.res
*.msg
*.sta
*.rpy*
*.dat
*.inp
*.ipm
*.log
*.sim
*.prt
*.odb
*.jnl
*.cae
*.odb_?
a.out